body{
    background-color: #F5FFFA;
}

h1{
    text-align: center;
    font-size: 50px !important;
    font-weight: bolder !important;
    margin-bottom: 30px !important;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#output{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    border-radius: 10px;
    /* background-color: blue; */
}

#output div{
    padding: auto;
    border-radius: 10px;
    background-color: #8FBC8F;
    color: #000000;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#output div h2{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

#output div li {
    list-style-type: none;
}

.btn-custom-green {
    background-color: #28a745 !important; 
    border-color: #28a745 !important;
    color: white !important; 
}

.btn-custom-green:hover {
    background-color: #218838 !important; 
    border-color: #1e7e34 !important;
}