body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
    color: #333;
}
#output_top5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-custom-green {
    background-color: #28a745 !important; 
    border-color: #28a745 !important;
    color: white !important; 
}

.btn-custom-green:hover {
    background-color: #218838 !important; 
    border-color: #1e7e34 !important;
}